{% extends "layout.html" %}
{% block title %} Register {% endblock %}

{% block content %}
<form class="dt-form col-md-8 form-horizontal" method="post" role="form">
	{% include "csrf.html" %}

	<div class="form-group{% if flash['error.login'] %} has-error{% endif %}">
		<label class="col-sm-4 control-label" for="login">User name</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input type="text" class="form-control" name="login" id="login" value="{{ flash.login }}" autofocus required autocomplete="off">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
			</div>
			{% if flash['error.login'] %}
			<span class="help-block">
				{% set type = flash['error.login'] %}
				{% if type == 'exists' %}User name exists{% endif %}
				{% if type == 'required' %}User name required{% endif %}
				{% if type == 'regexp' %}Name must be at least 3 characters long, and may only contain letters, numbers, and underscores ("_"){% endif %}
			</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group{% if flash['error.password'] or flash['error.confirm-password'] %} has-error{% endif %}">
		<label class="col-sm-4 control-label" for="password">Password</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input type="password" class="form-control" name="password" id="password" required autocomplete="off">
				<span class="input-group-addon"><i class="fa fa-key"></i></span>
			</div>
			{% if flash['error.password'] %}
			<span class="help-block">
				{% set type = flash['error.password'] %}
				{% if type == 'required' %}Password required{% endif %}
				{% if type == 'regexp' %}Password must be at least 6 characters long{% endif %}
			</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group{% if flash['error.confirm-password'] %} has-error{% endif %}">
		<label class="col-sm-4 control-label" for="confirm-password">Confirm password</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input type="password" class="form-control" name="confirm-password" id="confirm-password" required autocomplete="off">
				<span class="input-group-addon"><i class="fa fa-key"></i></span>
			</div>
			{% if flash['error.confirm-password'] %}
			<span class="help-block">
				{% set type = flash['error.confirm-password'] %}
				{% if type == 'match' %}Passwords do not match{% endif %}
			</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group{% if flash['error.email'] or flash['error.confirm-email'] %} has-error{% endif %}">
		<label class="col-sm-4 control-label" for="email">Email address</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input type="email" class="form-control" name="email" id="email" value="{{ flash.email }}" required autocomplete="off">
				<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			</div>
			{% if flash['error.email'] %}
			<span class="help-block">
				{% set type = flash['error.email'] %}
				{% if type == 'exists' %}Email address in use{% endif %}
				{% if type == 'required' %}Email address required{% endif %}
				{% if type == 'regexp' %}Invalid email address{% endif %}
			</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="mailing-list" checked> Receive email updates from {{ brand }}
				</label>
			</div>
		</div>
	</div>

	{% if billing.showPlansOnRegister %}
	<div class="controls">
		<ul class="unstyled">
			{% for plan in plans %}
			<li>
				<label class="radio dt-plan">
					<input type="radio" name="plan" value="{{ plan.id }}"{% if loop.first or flash['plan'] == plan.id %} checked{% endif %}> {{ plan.name }}<br>
					{% if plan.amount > 0 %}
					${{ (plan.amount / 100)|number_format(2) }}/<small>{{ plan.interval }}</small>
					{% else %}
					Free
					{% endif %}

					{% if plan.trial_period_days %}
					+ {{ plan.trial_period_days }} day free trial
					{% endif %}
				</label>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="form-group form-controls">
		<div class="col-sm-offset-4 col-sm-8">
			<button class="btn btn-primary">Register</button>
			<small class="dt-tos-agree">By registering you agree to the <a href="/terms">Terms of Service</a></small>
		</div>
	</div>
</form>
{% endblock %}
