{% extends "layout.html" %}
{% block title %} Admin - {% block admintitle %}Dashboard{% endblock %} {% endblock %}

{% block class %}{{ parent() }} dt-admin{% endblock %}

{% block precontent %}
<ul class="nav nav-pills">
	<li{% if _path == ['admin'] %} class="active"{% endif %}><a href="/admin">Dashboard</a></li>
	<li{% if _path[1] == 'search' %} class="active"{% endif %}><a href="/admin/search">Search</a></li>
</ul>
{% endblock %}
