{% extends "admin/layout.html" %}
{% block admintitle %} Search {% endblock %}

{% block content %}
<form class="form-inline">
	<input type="hidden" name="order" value="{{ order }}">

	<div class="row">
		<div class="col-sm-3">
			<select name="column" class="form-control">
				<option value="any">Any Column</option>
				{% for col in columns %}
				<option value="{{ col }}"{% if col == column %} selected{% endif %}>{{ col|title|replace('_', ' ')|replace('Id', 'ID') }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-sm-3">
			<select name="constraint" class="form-control">
				<option value="contains">Contains</option>
				<option value="begins"{% if constraint == 'begins' %} selected{% endif %}>Begins With</option>
				<option value="ends"{% if constraint == 'ends' %} selected{% endif %}>Ends With</option>
				<option value="equals"{% if constraint == 'equals' %} selected{% endif %}>Equals</option>
			</select>
		</div>

		<div class="input-group col-sm-6">
			<input class="form-control" type="search" name="query" value="{{ query }}">
			<span class="input-group-btn">
				<button class="btn">Search</button>
			</span>
		</div>
	</div>
</form>

{% if not results|length %}
<p class="text-center text-info">No results</p>
{% else %}
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th width="1"><i class="fa fa-sort-numeric-{{ order ?: 'asc' }}"></i></th>
			<th colspan="2"><i class="fa fa-user"></i></th>
			<th class="col-sm-5"><i class="fa fa-envelope"></i></th>
			<th width="1"><i class="fa fa-calendar"></i></th>
			<th width="1"><i class="fa fa-sign-in"></i></th>
		</tr>
	</thead>
{% for result in results %}
	<tr>
		<td><a href="/admin/user/{{ result.id }}">{{ result.id }}</a></td>
		<td><a href="/admin/user/{{ result.id }}">{{ result.login }}</a></td>
		<td><a href="/admin/user/{{ result.id }}">{{ result.first_name }} {{ result.last_name }}</a></td>
		<td><a href="/admin/user/{{ result.id }}"><i class="fa fa-check{% if not result.email_confirmed %}-empty text-error{% endif %}"></i> {{ result.email }}</a></td>
		<td><a href="/admin/user/{{ result.id }}">{{ result.registered|date('m/d/y') }}</a></td>
		<td><a href="/admin/user/{{ result.id }}">{{ result.last_login|date('m/d/y&\\n\\b\\s\\p;H:i')|raw }}</a></td>
	</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
