{% extends "admin/layout.html" %}
{% block admintitle %} User {{ result.get('id') }}/{{ result.get('login') }}/{{ result.get('email') }} {% endblock %}

{% block class %}{{ parent() }} dt-admin-view-user{% endblock %}

{% block content %}

<form method="post" role="form">
{% include "csrf.html" %}

<h4>
	{% if result.locked %}<i class="fa fa-lock"></i>{% endif %}
	{{ result.get('login') }}
	<small>
		{% if result.get('first_name') or result.get('last_name') %}{{ result.get('first_name') }} {{ result.get('last_name') }} - {% endif -%}
		{{ result.get('email') }}

		{% if admin.hasRole('super') and result.get('id') != admin.get('id') and not (result.hasRole('admin') or result.hasRole('super')) %}
			<a href="/admin/su?id={{ result.get('id') }}"><i class="fa fa-sign-in"></i></a>
		{% endif %}
	</small>


	<small class="pull-right">
		<i class="fa fa-calendar"></i> {{ result.get('registered')|date("m/d/Y") }}
		<i class="fa fa-sign-in"></i> {{ result.get('last_login')|date("m/d/Y H:i:s") }}
	</small>
</h4>
<hr>

<div class="row">
	<div class="col-sm-9">
		<div class="form-group name row">
			<div class="col-sm-6">
				<input class="form-control" type="text" name="first_name" placeholder="First" value="{{ result.get('first_name') }}">
			</div>

			<div class="col-sm-6">
				<input class="form-control" type="text" name="last_name" placeholder="Last" value="{{ result.get('last_name') }}">
			</div>
		</div>

		<div class="form-group locked">
			<div class="checkbox">
				<label{% if result.hasRole('admin') %} style="text-decoration: line-through; opacity: 0.5" title="Overridden by admin role"{% endif %}>
					<input type="checkbox" name="locked"{% if result.get('locked') %} checked{% endif %}{% if result.hasRole('admin') %} disabled{% endif %}> Account locked (disallows login)
				</label>
			</div>
		</div>

		<div class="row">
			<div class="form-group email col-sm-6">
				<h5>Email</h5>
				<input class="form-control" type="email" name="email" placeholder="email@address" value="{{ result.get('email') }}">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="email_confirmed"{% if result.get('email_confirmed') %} checked{% endif %}> Email address confirmed
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="mailing_list"{% if result.get('mailing_list') %} checked{% endif %} disabled> Subscribed to mailing list
					</label>
				</div>
			</div>

			<div class="form-group roles col-sm-6">
				<h5>Roles</h5>
				{% for role, title in roles %}
				<div class="checkbox">
					<label title="{{ role }}">
						<input type="checkbox" name="role-{{ role|replace(' ', '-') }}"{% if result.hasRole(role) %} checked{% endif %}> {{ title }}
					</label>
				</div>
				{% endfor %}
			</div>
		</div>

		{% if stripePubKey %}
		<div class="form-group stripe">
			<h5>Stripe</h5>
			{% if not result.get('stripe_id') %}
				<p class="text-center text-info no-stripe-id">No Stripe ID for this user</p>
			{% else %}
			{% endif %}
		</div>
		{% endif %}

		<div class="form-group notes">
			<h5>Notes</h5>
			<textarea name="notes" class="form-control col-sm-12">{{ result.get('notes') }}</textarea>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="form-group gravatar">
			<img src="{{ result.getGravatar(220, '', true) }}">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="gravatar"{% if result.get('gravatar') %} checked{% endif %}> Display this Gravatar
				</label>
			</div>
		</div>
	</div>
</div>

<div class="form-controls">
	<button type="submit" class="btn btn-primary">Save changes</button>
	<a class="btn" href="/admin/user/{{ result.get('id') }}">Cancel</a>
</div>

</form>

{% endblock %}
