{% extends "layout.html" %}
{% block subject %} Confirm your email address on {{ brand }} {% endblock %}

{% block body %}
{% filter nl2br %}
Hello {{ user.get('login') }}!

You have changed your email address on <a href="http://{{ domain }}">{{ brand }}</a>!

You can confirm this change by following this link, or entering it into your address bar:
<a href="http://{{ domain }}/account/confirm?token={{ token }}">http://{{ domain }}/account/confirm?token={{ token }}</a>

{% endfilter %}
{% endblock %}
