<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ brand }} - {% block title %}Home{% endblock %}</title>

		<!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script>document.getElementsByTagName('html')[0].className=''</script>

		{% if _mode == 'development' %}
		<script>_pageInit={{ 'now'|date('U') }}</script>
		<script src="/js/_auto-refresh.js"></script>
		{% endif %}

		{#
		<script>WebFontConfig={google:{families:['Courgette::latin','PT+Sans:400,700,400italic,700italic:latin']}}</script>
		<script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async></script>
		#}

		<link rel="stylesheet" href="{{ css('/css/style.less') }}{% if _mode == 'development' %}?{{ 'now'|date('U') }}{% endif %}">
		{% block head %}{% endblock %}
	</head>

	<body class="{% block class %}{% endblock %}">
		{% block body %}{% endblock %}

		<script src="/js/jquery.js"></script>
		<!--<script src="/js/bootstrap/affix.js"></script>-->
		<script src="/js/bootstrap/alert.js"></script>
		<script src="/js/bootstrap/button.js"></script>
		<!--<script src="/js/bootstrap/carousel.js"></script>-->
		<script src="/js/bootstrap/collapse.js"></script>
		<script src="/js/bootstrap/dropdown.js"></script>
		<script src="/js/bootstrap/modal.js"></script>
		<script src="/js/bootstrap/popover.js"></script>
		<!--<script src="/js/bootstrap/scrollspy.js"></script>
		<script src="/js/bootstrap/tab.js"></script>
		<script src="/js/bootstrap/tooltip.js"></script>
		<script src="/js/bootstrap/transition.js"></script>-->

		{% if google.analytics.id and _mode == 'production' %}
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ google.analytics.id }}', '{{ google.analytics.domain }}');
		ga('send', 'pageview');
		</script>
		{% endif %}

		{% if stripePubKey and stripeRequired %}
		<script src="//js.stripe.com/v2/"></script>
		<script>$(function() {Stripe.setPublishableKey('{{ stripePubKey }}');});</script>
		{% endif %}
		<script src="/js/site.js{% if _mode == 'development' %}?{{ 'now'|date('U') }}{% endif %}"></script>
		{% block script %}{% endblock %}
	</body>
</html>
