{% extends "layout.html" %}

{% block title %} Forum {% endblock %}
{% block class %}{{ parent() }} dt-forum{% endblock %}

{% block nav %}
{{ parent() }}

{% if google.siteSearch %}
<form class="navbar-form navbar-left" method="post" action="http://www.google.com/cse" id="cse-search-box">
	<div class="form-group">
		<input type="hidden" name="cx" value="{{ google.siteSearch }}">
		<input type="hidden" name="ie" value="UTF-8">
		<label class="sr-only" for="q">Search</label>
		<input type="search" id="q" name="q" class="form-control" placeholder="Search">
	</div>
</form>
{% endif %}
{% endblock %}

{% block alert %}
{{ parent() }}

{% if not user %}
<div class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	You aren't logged in.  You should <a href="/login">login</a>, or <a href="/register">create an account</a> if you want to post here
</div>
{% endif %}

{% if user and category != 0 and forum.readonly and not user.hasRole('forum mod') %}
<div class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	You are viewing a read only forum
</div>
{% endif %}
{% endblock %}

{% block precontent %}
<ol class="breadcrumb">
	<li>
		<ol class="list-unstyled">
	{% block breadcrumb %}
	{% set crumb = category %}
		{% for cat in categories|reverse() %}
			{% if cat.id == crumb %}
				{% set crumb = cat.parent %}
				<li><a href="/forum/{{ cat.id }}">{{ cat.title }}
					{%- if cat.hidden %} <i class="fa fa-eye-slash"></i>{% endif -%}
				</a></li>
			{% endif %}
		{% endfor -%}

		<li><a href="/forum"><i class="fa fa-home"></i> Forum Index</a></li>
	{% endblock %}
		</ol>
	</li>
</ol>
{% endblock %}
