{% macro pagination(url, pages, page) %}
<div class="text-center">
<ul class="pagination">
	{% if page <= 0 %}
		<li class="disabled"><a href="#">&laquo;</a></li>
	{% else %}
		<li><a href="{{ url }}/p{{ page - 1 }}">&laquo;</a></li>
	</li>
	{% endif %}

	{% for i in 0..pages %}
		{% if page == i %}
			<li class="active"><a href="#">{{ i + 1 }}</a></li>
		{% else %}
			<li><a href="{{ url }}/p{{ i }}">{{ i + 1 }}</a></li>
		{% endif %}
	{% endfor %}


	{% if page >= pages %}
		<li class="disabled"><a href="#">&raquo;</a></li>
	{% else %}
		<li><a href="{{ url }}/p{{ page + 1 }}">&raquo;</a></li>
	{% endif %}
</ul>
</div>
{% endmacro %}
