.dt-admin-view-user {
	.notes {
		textarea {
			min-height: 150px;
			resize: vertical;
		}
	}

	.no-stripe-id {
		min-height: 60px;
		line-height: 60px;
		border-radius: 5px;
		border: 5px dashed #eee;
	}
}

.dt-admin {
	.nav-pills {
		margin-bottom: @line-height-computed;
	}

	a.col-sm-12 {
		display: inline-block;
	}
}
