body.dt-forum {
	.dt-threadlist {
		td, th {
			white-space: pre;
		}

		tr > :first-child {
			text-align: center;
		}

		th {
			width: 100px;

			&.icons {
				width: 48px;
			}

			&.replies {
				width: 18px;
			}

			&.thread {
				width: auto;
			}
		}

		a {
			display: block;
		}
	}

	.breadcrumb {
		overflow: hidden;

		li {
			float: left;
		}

		ol li {
			float: right;

			&:before {
				content: '';
				margin: 0;
				padding: 0;
			}

			&:after {
				white-space: pre;
				content: ' > ';
				color: @gray-light;
			}

			&:first-child {
				a {
					color: @gray-light;
				}

				&:after {
					content: '';
				}
			}
		}
	}

	.media-list {
		overflow: hidden;

		&.media-list-home {
			margin-top: -15px;

			.media {
				margin-top: 15px;
				width: 50%;
				float: left;
				height: 70px;

				.media-body li {
					float: left;
					margin-right: 5px;

					&:after {
						content: ', ';
					}

					&:last-child:after {
						content: '';
					}
				}
			}
		}
	}

	.thread-title {
		margin-bottom: -10px;
	}

	.thread-controls {
		position: relative;
		top: 20px;
		height: 0;
	}

	.post {
		position: relative;

		.post-header, .post-footer {
			margin-bottom: 5px;
			line-height: 32px;
			border-radius: inherit;
			background: rgba(128, 128, 128, .08);
			padding: inherit;
			margin: -10px;
		}

		.post-header {
			margin-bottom: 10px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		.post-footer {
			margin-top: 0;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}

		.post-avatar {
			margin: 0;
			word-break: break-word;
			font-size: x-large;

			img {
				width: 32px;
				vertical-align: middle;
				float: right;
				margin-left: 5px;
				border-radius: 3px;
			}
		}

		.post-controls {
			float: right;
			padding: 1px 0 2px 6px;
			border-bottom-left-radius: 5px;
			text-align: center;

			a, .btn-link {
				//display: block;
				opacity: .6;
				color: @text-color;

				&:hover {
					opacity: 1;
				}
			}

			form {
				display: inline-block;
				margin: 0;
				padding: 0;

				.btn-ignore {
					padding: 0;
					opacity: .6;
					border: 0;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
