.dt-site {
	padding: 20px 0;
}

.navbar-nav > li > form {
	margin: 0;
	padding: 0;
	border: 0;

	> button {
		border: 0;
		padding: 10px 15px;
		width: 100%;
		text-align: left;
		text-decoration: none !important;
		line-height: @line-height-computed;
	}
}

@media (min-width: 768px) {
	.navbar-nav > li > form > button {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.navbar-default {
	.navbar-nav {
		> li > form > button {
			color: @navbar-default-link-color;

			&:hover,
			&:focus {
				color: @navbar-default-link-hover-color;
				background-color: @navbar-default-link-hover-bg;
			}
		}
		> .active > form > button {
			&,
			&:hover,
			&:focus {
				color: @navbar-default-link-active-color;
				background-color: @navbar-default-link-active-bg;
			}
		}
		> .disabled > form > button {
			&,
			&:hover,
			&:focus {
				color: @navbar-default-link-disabled-color;
				background-color: @navbar-default-link-disabled-bg;
			}
		}
	}
}

.form-horizontal {
	&.dt-form {
		margin: 50px auto;
		display: block;
		float: none;
	}

	.help-block {
		margin-bottom: 0;
	}

	.checkbox {
		padding-top: 0 !important;
	}
}

.form-controls {
	padding: @padding-large-vertical (@grid-gutter-width / 2);
	background: @gray-lighter;
	border-radius: @border-radius-base;
}

.fa-spin {
	-webkit-filter: blur(0);
}

.footer {
	background: #f5f5f5;
	padding: 10px;
	margin-top: 20px;
}

.text-large {
	font-size: large;
	line-height: 1.5em;
}

.control-required {
	font-weight: bold;
}

.table a:first-child:last-child {
	width: 100%;
	display: block;
}

.alert .form-inline {
	display: inline-block;

	.btn-inline-link {
		margin: 0;
		padding: 0;
		vertical-align: baseline;
	}
}

.profile-image {
	div {
		text-align: center;
	}
}
