{% for post in posts %}
	<div class="well well-sm clearfix post">
		<div class="post-header clearfix">
			<div class="pull-right post-avatar">
				<img src="//www.gravatar.com/avatar/{{ post.author_gravatar }}?s=164&amp;d=identicon&amp;r=pg{% if not post.author_avatar %}&amp;f=y{% endif %}" alt="{{ post.author }}'s avatar">
				{{ post.author }}
				<!--<div><em>{{ post.author_status }}</em></div>-->
			</div>
			<div class="date">
				<time datetime="{{ post.created|date('c') }}">{{ post.created|date() }}</time>
			</div>
		</div>

		{% if user %}
		<span class="post-controls">
			{% if user.get('id') == thread.author or user.hasRole('forum mod') %}
				<a href="/forum/{{ category }}/{{ thread.id }}/{{ post.id }}/edit"><i title="Edit" data-placement="left" class="fa fa-pencil"></i></a>
			{% endif %}

			{% if user.hasRole('forum mod') and not post.deleted %}
			<a href="/forum/{{ category }}/{{ thread.id }}/{{ post.id }}/delete"><i title="Delete" data-placement="left" class="fa fa-times"></i></a>
			{% elseif user.hasRole('forum admin') %}
			<a href="/forum/{{ category }}/{{ thread.id }}/{{ post.id }}/undelete"><i title="Undelete" data-placement="left" class="fa fa-ok"></i></a>
			{% endif %}

			{% if user.hasRole('user') and 'staff' not in post.author_roles and user.get('id') != post.authorid %}

			{% if not post.ignored %}
			<form method="post" action="/forum/{{ category }}/{{ thread.id }}/ignore">
				<button class="btn-ignore btn-link">
					<i class="fa fa-volume-off" title="Ignore {{ post.author }}" data-placement="right"></i>
				</button>
			{% else %}
			<form method="post" action="/forum/{{ category }}/{{ thread.id }}/unignore">
				<button class="btn-ignore btn-link">
					<i class="fa fa-volume-up" title="Unignore {{ post.author }}" data-placement="right"></i>
				</button>
			{% endif %}

				<input type="hidden" name="targetid" value="{{ post.authorid }}">
				<input type="hidden" name="target" value="{{ post.author }}">
			</form>
			{% endif %}
		</span>
		{% endif %}

		{% if post.ignored  %}
		<em>You are ignoring posts from this user</em>
		{% else %}
		{{ post.message|e|markdown|raw }}
		{% endif %}

		<div class="post-footer clearfix">
			{% if post.signature and not post.ignored %}
			<div class="post-signature">{{ post.signature|e|markdown|raw }}</div>
			{% endif %}
		</div>
	</div>
{% endfor %}
