{% extends "forum/thread/view.html" %}

{% block breadcrumb %}
<li><a href="/forum/{{ category }}/{{ thread.id }}/new">Reply</a></li>
{{ parent() }}
{% endblock %}

{% block content %}
{% include "forum/thread/form.html" %}
{% include "forum/thread/posts.html" %}
{% endblock %}
